# For more information about the configurations used
# in this file, please see the Travis CI documentation:
# http://docs.travis-ci.com

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN
  local_dir: build
  on:
    branch: master

env:
  global:
    - secure: "CguKtZSKYsXk2etsFE7FMejylxCWNycuozhKWdAkZF4Dc0LbRFEXSHHB6vaEaa7BO0HbyYTkCx4aWiztVDdPeSAERmeCITteKKs6pew1uDVGLOlOlOP/wpQgrL9mOl74yPyKSV9fHMLakeOKQlY/2fVeQ0m1GGerGBuslLSSygE="

git:
  depth: 10

language: node_js

node_js:
  - "stable"
