.changelog {
  font-size: 0.9rem;
  color: #767676;
  padding: 12px 16px;
  opacity: 0;

  &.transition {
    transition: opacity 0.2s ease-out;
  }

  &.active {
    opacity: 1;
  }

  h1 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  li {
    display: flex;
    margin: 0.7em 0;
    line-height: 1.5;

    &::before {
      content: '-';
      margin: 0 1em 0 0;
    }
  }
}
