.code-output {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  & code {
    font-family: Inconsolata;
  }

  & pre {
    margin: 0;
    white-space: pre-wrap;
  }
}