.code-output {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  color: #f8f8f2;
  background: rgba(#000, 0.8);
  opacity: 0;
  @include transform(translateZ(0));

  &.transition {
    @include transition(opacity 0.2s ease-in-out);
  }

  &.active {
    opacity: 1;
  }

  & code {
    font-family: Inconsolata, monospace;
    line-height: 1.5;
    font-size: 0.9rem;
    display: block;
    padding: 14px;
  }

  @media (min-width: 900px) {
    width: 100vw;

    & code {
      font-size: 1rem;
      // This is a hack
      padding-right: 380px;
    }
  }

  & pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}