.code-output {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; // TODO: revisit this later
  color: #f8f8f2;
  background-color: rgba(#000, 0.8);
  opacity: 0;
  transform: translateZ(0);

  &.transition {
    transition: opacity 0.2s ease-in-out;
  }

  &.active {
    opacity: 1;
  }

  code {
    font-size: 0.9rem;
    line-height: 1.5;
    display: block;
    padding: 14px;

    @media (min-width: 640px) {
      // Allow the code area to scroll past the floating action buttons.
      margin-bottom: 200px;
    }
  }

  @media (min-width: 900px) {
    width: 100vw;

    code {
      font-size: 1rem;
      // This is a hack
      padding-right: 380px;
    }
  }

  pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
