.drop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.7);
  z-index: 3;
  text-align: center;
  color: #fff;
  font-size: 17vw;
  pointer-events: none;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;

  &.transition {
    display: flex;
    transition: opacity 0.2s ease-out;
  }

  &.active {
    display: flex;
    opacity: 1;
  }
}
