.floating-action-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0; // Is this really needed?
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-out;

  @media (min-width: 640px) {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &.key-focused {
    transform: scale(1.15);
  }

  &:focus {
    outline: none;
  }

  .icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: #000;
    z-index: 1;
  }

  .ripple {
    background-color: #00bcd4;
  }

  &.active {
    background-color: #00bcd4;
    color: #fff;

    .ripple {
      background-color: #fff;
    }
  }

  &.major-floating-action-button {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #00bcd4;

    .icon {
      fill: #fff;
    }

    .spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      border-color: #fff;
    }

    .ripple {
      background-color: #fff;
    }
  }
}
