.floating-action-button {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #00BCD4;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);

  @media (min-width: 640px) {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  }

  @include transition(all 0.1s ease-out);

  &:hover,
  &:focus {
    @include transform(scale(1.15));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  & .icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  & .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-color: #fff;
  }
}