.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;

  &.hidden {
    pointer-events: none;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 264px;
    width: 40%;
    max-width: 340px;
    background-color: #fff;
    box-shadow: 3px 0 16px rgba(0, 0, 0, 0.4);
    will-change: transform;
    overflow: hidden auto;
    display: flex;
    flex-flow: column;

    &.transition {
      transition: transform 0.2s ease-out;
    }

    &.hidden {
      transform: translateX(-110%);
    }

    > * {
      min-height: min-content;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000, 0.4);
    will-change: opacity;

    &.transition {
      transition: opacity 0.2s ease-in-out;
    }

    &.hidden {
      opacity: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    padding: 0 16px;
    width: 100%;
    min-height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }

    &:focus,
    &:hover {
      outline: none;
      background-color: rgba(#000, 0.1);
    }

    .icon {
      width: 24px;
      height: 24px;
      opacity: 0.54;
      margin-right: 32px;
      flex: none;
    }

    .spinner {
      flex: none;
      margin: 0 0 0 auto;
    }

    .menu-item-text {
      margin-right: 28px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .menu-input {
    cursor: pointer;

    .input-area {
      position: relative;
      white-space: nowrap;
    }

    .label-txt {
      position: absolute;
      left: 0;
      top: 0;
    }

    textarea,
    input {
      display: block;
      font: inherit;
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: inherit;
      resize: none;
      width: 100%;
      height: 1.3em;
      overflow: hidden;

      &:focus {
        outline: none;
        opacity: 1;

        + .label-txt {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  .load-file-input {
    display: none;
  }
}

.app-title {
  padding-right: 16px;
  margin: 0;
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  gap: 1rem;
  background-color: #f3f3f3;
  font-size: 0.9rem;

  .logo {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 1rem;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a:link,
  a:visited {
    color: inherit;
    text-decoration: underline;
    white-space: nowrap;
  }

  a:hover,
  a:active {
    color: #000;
  }
}

.title-text {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 0.2em;
}
