.material-slider {
  display: block;
  cursor: pointer;
  position: relative;

  & .track {
    position: relative;
    height: 2px;
    background: rgba(#000, 0.26);
    pointer-events: none;
  }

  & .track-on {
    position: relative;
    width: 0%;
    height: 100%;
    background: #3F51B5;
  }

  & .handle {
    background: #3F51B5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%) scale(0.45) translateZ(0));
    @include display-flex;
    @include align-items(center);
    @include transition-transform(0.1s ease-out);
  }

  & .arrow {
    background: inherit;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 14px;
    left: 20%;
    @include transform(translateY(-35%) rotate(45deg) translateZ(0));
    @include transition-transform(0.1s ease-out);
  }

  & .val {
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 1;
    font-size: 0.8rem;
    opacity: 0;
    @include transition(opacity 0.1s ease-out);
    @include transform(translateZ(0))
  }

  & input[type=range] {
    cursor: inherit;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;

    // increase the touch target
    height: 60px;

    @supports (width: calc(100% + 10px)) {
      width: calc(100% + 10px);
      margin-left: -5px;
    }
    @include transform(translateY(-50%));
    opacity: 0;
    
    // remove tooltip in IE
    &::-ms-tooltip {
      display: none;
    }
  }

  & :focus + .track,
  & .active + .track {
    & .handle {
      @include transform(translate(-50%, -145%) translateZ(0));
    }

    & .val {
      opacity: 1;
    }

    & .arrow {
      @include transform(rotate(45deg) translateZ(0));
    }
  }
}