.material-tabs {
  @include user-select(none);
  display: flex;
  align-self: stretch;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  line-height: 1;
  font-size: 0.9rem;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

.material-tab {
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  position: relative;

  .selected {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px solid transparent;
  }

  :checked + .selected,
  :focus + .selected {
    border-color: #00bcd4;
  }

  :focus + .selected {
    background-color: transparentize(#fff, 0.9);
  }
}
