.material-switch {
  display: block;
  width: 37px;
  height: 14px;
  position: relative;

  .track {
    border-radius: 19px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 1px;
    background-color: rgba(#000, 0.26);
    overflow: hidden;
    transform: translateZ(0);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #9fa8da;
      opacity: 0;
      transition: opacity 0.15s ease-out;
      transform: translateZ(0);
    }
  }

  .handle {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 2px transparent;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.15s ease-out;
    transform: translateZ(0);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #3f51b5;
      opacity: 0;
      transition: opacity 0.15s ease-out;
      transform: translateZ(0);
    }
  }

  :checked + & {
    .track::before {
      opacity: 1;
    }

    .handle {
      transform: translate3d(17px, 0, 0);

      &::before {
        opacity: 1;
      }
    }
  }
}
