.minor-floating-action-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;

  @include display-flex;
  @include align-items(center);
  @include justify-content(center);

  @media (min-width: 640px) {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  }

  @include transition(all 0.1s ease-out);

  &:hover,
  &.key-focused {
    @include transform(scale(1.15));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    outline: none;
  }

  & .icon {
    display: block;
    width: 24px;
    height: 24px;
    fill: #000;
    z-index: 1;
  }
}
