.results {
  background: #3F51B5;
  color: #fff;
  padding: 12px 16px;
  z-index: 1;

  @media (min-width: 640px) {
    background: #FFF;
    color: #000;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 4;
    padding: 7px 11px;
    font-size: 0.9rem;
    padding-right: 25px;
    min-width: 11.3em;
    border-radius: 2px;
  }
}