.results {
  background-color: #3f51b5;
  color: #fff;
  padding: 12px 16px;

  @media (min-width: 640px) {
    background-color: #fff;
    color: #000;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 7px 25px 7px 11px;
    font-size: 0.9rem;
    border-radius: 2px;

    .decrease {
      color: green;
    }
    .increase {
      color: red;
    }
  }

  .diff {
    margin-left: 0.5em;
  }
}
