.settings {
  background: #fff;
  @include display-flex;
  @include flex-flow(column);
  @include user-select(none);
}

.settings-scroller {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @include flex(1);
}

.setting-item-toggle {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0 16px;
  height: 51px;

  @include display-flex;
  @include align-items(center);

  & input[type=checkbox] {
    display: none;
  }
}

.setting-item-range {
  padding: 10px 16px 20px;
  @include display-flex;
  @include flex-flow(column);
  @include justify-content(center);

  & .label-text {
    margin-bottom: 0.7em;
  }
}

.settings > section:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}

.settings-sub-heading {
  margin: 0;
  padding: 12px 16px 16px;
  font-weight: normal;
  font-size: 0.9rem;
  color: #898989;
}