.spinner {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  border-color: #4285f4;

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent;
    border-radius: 50%;
  }

  // Patch the gap that appear between the two adjacent div.circle-clipper while the
  // spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
  .gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    .circle {
      width: 1000%;
      left: -450%;
    }
  }

  .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    &.left .circle {
      border-right-color: transparent;
      transform: rotate(129deg);
      animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }

    &.right .circle {
      left: -100%;
      border-left-color: transparent;
      transform: rotate(-129deg);
      animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }

    .circle {
      width: 200%;
    }
  }

  &.cooldown {
    // duration: SHRINK_TIME
    animation: fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  border-color: inherit;
  // duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE))
  animation: container-rotate 1568ms linear infinite;
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-color: inherit;
  // durations: 4 * ARCTIME
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
