.svg-output {
  @include user-select(none);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  &.transition {
    transition: opacity 0.2s ease-in-out;
  }

  &.active {
    opacity: 1;
  }
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0 0;
  transform: translateZ(0);
}

.svg-frame {
  border: none;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
