.toolbar {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  align-items: center;
}

.menu-toolbar-item {
  button {
    padding: 10px 12px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}
