.toolbar {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0 -11px;
    pointer-events: none;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
  }

  @media (min-width: 640px) {
    &::after {
      box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
    }
  }
}

:global(.tabChange) {
  & .toolbar {
    view-transition-name: toolbar;
  }

  &::view-transition-group(toolbar) {
    animation: none;
  }

  &::view-transition-image-pair(toolbar) {
    isolation: auto;
  }

  &::view-transition-old(toolbar) {
    display: none;
  }

  &::view-transition-new(toolbar) {
    animation: none;
  }
}

.menuBtn {
  all: unset;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 24px;
    aspect-ratio: 1/1;
    fill: #fff;
  }
}

.tabs {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: 100%;
}

.tab {
  display: grid;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  input {
    display: none;
  }

  &.selected .tabText::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 3px;
    background: #fff;
    border-radius: 100px 100px 0 0;
  }
}

:global(.tabChange) .tab.selected .tabText::after {
  view-transition-name: tab-select;
}

.tabText {
  position: relative;
  display: grid;
  align-content: center;
  margin: 0 20px;
}
