.toolbar {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 100% 0 auto 0;
    height: 15px;
    opacity: 0.2;
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 0%,
      hsla(0, 0%, 0%, 0.987) 8.1%,
      hsla(0, 0%, 0%, 0.951) 15.5%,
      hsla(0, 0%, 0%, 0.896) 22.5%,
      hsla(0, 0%, 0%, 0.825) 29%,
      hsla(0, 0%, 0%, 0.741) 35.3%,
      hsla(0, 0%, 0%, 0.648) 41.2%,
      hsla(0, 0%, 0%, 0.55) 47.1%,
      hsla(0, 0%, 0%, 0.45) 52.9%,
      hsla(0, 0%, 0%, 0.352) 58.8%,
      hsla(0, 0%, 0%, 0.259) 64.7%,
      hsla(0, 0%, 0%, 0.175) 71%,
      hsla(0, 0%, 0%, 0.104) 77.5%,
      hsla(0, 0%, 0%, 0.049) 84.5%,
      hsla(0, 0%, 0%, 0.013) 91.9%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }
}

.menuBtn {
  all: unset;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 24px;
    aspect-ratio: 1/1;
    fill: #fff;
  }
}

.tabs {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: 100%;
}

.tab {
  display: grid;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  input {
    display: none;
  }

  &.selected .tabText::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 3px;
    background: #fff;
    border-radius: 100px 100px 0 0;
  }
}

:global(.tabChange) .tab.selected .tabText::after {
  view-transition-name: tab-select;
}

.tabText {
  position: relative;
  display: grid;
  align-content: center;
  margin: 0 20px;
}
