@import 'components/settings';
@import 'components/material-switch';
@import 'components/toolbar';
@import 'components/minor-floating-action-button';
@import 'components/floating-action-button';
@import 'components/spinner';
@import 'components/toasts';
@import 'components/material-slider';
@import 'components/drop-overlay';
@import 'components/changelog';
@import 'components/svg-output';
@import 'components/material-tabs';
@import 'components/results';
@import 'components/output';
@import 'components/code-output';
@import 'components/ripple';
