// app
  .app-output {
  }

// settings
  .settings {
    background: #fff;
  }

  .main-setting-item {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 16px;
    height: 48px;
    box-sizing: border-box;
    @include display-flex;
    @include align-items(center);

    & input {
      display: none;
    }
  }

  .material-switch {
    display: block;
    width: 37px;
    height: 14px;
    position: relative;
    margin-right: 19px;

    &::before {
      border-radius: 19px;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1px;
      right: 1px;
      background: rgba(#000, 0.26);
      transition: all 0.15s ease-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #fafafa;
      box-shadow: 0 1px 3px rgba(#000, 0.5);
      transition: all 0.15s ease-out;
    }

    :checked + & {
      &::before {
        background: rgba(#3F51B5, 0.5);
      }

      &::after {
        @include transform(translate(17px, 0));
        background: #3F51B5;
      }
    }
  }

// toolbar
  .toolbar {
    background: #3F51B5;
    color: #fff;
    @include display-flex;
    @include align-items(center);

    & .status {
      @include flex(1);
      padding: 0.8em 1em;
      text-align: right;
    }
  }

  .menu-toolbar-item {
    & button {
      padding: 10px;

      &:focus {
        outline: none;
      }
    }

    & svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }

// floating action button
  .floating-action-button {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: #00BCD4;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    @media (min-width: 640px) {
      box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
    }

    @include transition(all 0.1s ease-out);

    &:hover,
    &:focus {
      @include transform(scale(1.15));
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }

    & .icon {
      display: block;
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }

// output
  .output {
  }

  .svg-output {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include transform(translateZ(0));
  }

  .svg-container {
    border: none;
    overflow: none;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

// buttons
  .unbutton {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    white-space: nowrap;
  }

// menu
  .main-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;

    &.hidden {
      pointer-events: none;

      & .overlay {
        opacity: 0;
      }

      & .menu {
        @include transform(translateX(-110%));
      }
    }

    & .menu {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      min-width: 264px;
      width: 40%;
      max-width: 340px;
      background: #fff;
      box-shadow: 3px 0 16px rgba(0, 0, 0, 0.4);
      will-change: transform;

      @each $prefix in -webkit-, '' {
        #{$prefix}transition: #{$prefix}transform 0.2s ease-out;
      }
    }

    & .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(#000, 0.4);
      will-change: opacity;
      @include transition(opacity 0.2s ease-in-out);
    }

    & ul {
      margin: 0;
      padding: 0;
    }

    & li {
      display: block;
      margin: 0;
      padding: 0;
    }

    & .menu-item {
      padding: 12px 16px;
      width: 100%;
      box-sizing: border-box;
      @include display-flex;

      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
      }

      &:focus,
      &:hover {
        outline: none;
        background: rgba(#000, 0.1);
      }

      & .icon {
        width: 24px;
        height: 24px;
        opacity: 0.54;
        margin-right: 32px;
      }
    }

    & .menu-input {
      cursor: pointer;

      & .input-area {
        position: relative;
        white-space: nowrap;
      }

      & .label-txt {
        position: absolute;
        left: 0;
      }

      & input {
        font: inherit;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: inherit;

        &:focus {
          outline: none;
          opacity: 1;

          & + .label-txt {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }

    & .select-file-input {
      display: none;
    }
  }