html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  // <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".05"/></svg>
  background: #f2f2f2 0 0/16px 16px url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath d='M1 2V0h1v1H0v1z' fill-opacity='.05'/%3E%3C/svg%3E");
  position: relative;

  &::after {
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    .bg-dark & {
      opacity: 1;
    }
  }
}

pre,
code,
kbd,
samp,
tt {
  font-family: Inconsolata, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

button,
textarea {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.unbutton {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  white-space: nowrap;
}

.toolbar,
.main,
.drop-overlay {
  display: none;
}
