html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: roboto;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".05"/></svg>');
  background-size: 16px 16px;
  background-color: #f2f2f2;
}