.app-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3F51B5;
  box-shadow: 0 0px 11px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;

  @include display-flex;
  @include flex-flow(column);
  @include flex(1);

  @media (min-width: 640px) {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  }

  &.active {
    pointer-events: all;
    opacity: 1;
  }

  & h1 {
    @include display-flex;
    @include flex-flow(column);
    @include justify-content(center);
    color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    font-weight: bold;
    font-size: 13vw;
    text-shadow: 0 5px 11px rgba(0, 0, 0, 0.5);
    height: 50%;
    margin: 0;
  }
}

.logo {
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  opacity: 0.7;

  & svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.load-options {
  padding: 0 15px;
  position: relative;
  @include display-flex;


  & .option {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
    @include flex(1);
    margin: 0 15px;
    padding: 17px;
    background: #fff;
  }
}

.about {
  position: relative;
  padding: 0 17px;
  margin: 30px;
  background: #fff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
}

.svg-file-input {
  display: none;
}