.app {
  height: 100%;
  overflow: hidden;
  @include display-flex;
  @include flex-flow(column);

}

.toolbar {
}

.settings {
  overflow: auto;

  @media (min-width: 640px) {
    min-width: 15em;
  }

  @media (min-width: 900px) {
    margin: 30px;
    border-radius: 2px;

    & > * {
      // unfortunately boosts scrolling performance in Chrome/Safari
      // this is due to the border radius
      -webkit-transform: translateZ(0);
    }
  }
}

.main {
  @include flex(1);
  @include display-flex;
  @include flex-flow(column);

  @media (min-width: 640px) {
    @include flex-flow(row);
  }
}

.output {
  @include flex(1);
  min-height: 300px;
}

// so these UI elements are above output
.toolbar,
.settings {
  z-index: 1;
}

// shadows
.settings,
.toolbar {
  box-shadow: 0 0px 11px rgba(0, 0, 0, 0.4);

  @media (min-width: 900px) {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  }
}