.app {
  height: 100%;
  overflow: hidden;
  @include display-flex;
  @include flex-flow(column);

  @media (min-width: 500px) {
    @include flex-flow(row);
  }
}

.settings {
  overflow: auto;
  min-height: 200px;

  @media (min-width: 500px) {
    min-width: 15em;
  }

  @media (min-width: 800px) {
    margin: 30px;
  }
}

.main {
  @include flex(1);
  @include display-flex;
  @include flex-flow(column);
  @include min-height-min-content;

  @media (min-width: 500px) {
    @include order(1);
  }

  @media (min-width: 800px) {
    margin: 30px;
    margin-left: 0;
  }
}

.output {
  @include flex(1);
  min-height: 300px;
}

// so these UI elements are above output
.toolbar,
.settings {
  z-index: 1;
}

// shadows
.settings,
.toolbar {
  box-shadow: 0 0px 11px rgba(0, 0, 0, 0.4);

  @media (min-width: 800px) {
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  }
}