@mixin user-select($spec...) {
  -webkit-user-select: $spec;
  user-select: $spec;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

// stylelint-disable declaration-no-important
.d-none {
  display: none !important;
}
