.checkers {
  position: absolute;
  inset: 0;
}

.lightBackground {
  position: absolute;
  inset: 0;
  background: #f2f2f2;
}

.darkBackground {
  position: absolute;
  inset: 0;
  background: #414141;
  transition: opacity 0.2s ease-in-out;
}

.pattern {
  position: absolute;
  inset: 0;
  opacity: 0.05;
  background: #fff url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z"/></svg>');
  background-size: 16px 16px;
}
