.optimizer {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.editArea {
  position: relative;
  overflow: clip;
  display: grid;
  grid-template-rows: 1fr 0.9fr;

  @media (min-width: 640px) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 340px;
  }

  @media (min-width: 900px) {
    grid-template-columns: 1fr 370px;
  }
}

.codeBg {
  position: absolute;
  inset: 0;
  background: rgb(20% 20% 20%);
}
