<!doctype html>
<html>
  <head>
    <title>SVGO-GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/all.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="app">
      <div class="main">
        <div class="toolbar"><div class="toolbar-item">Toolbar text</div></div>
        <div class="output"></div>
      </div>
      <div class="settings">
        <div class="plugins">
          {% for plugin in plugins %}
            <div>
              <label class="main-setting-item">
                <input type="checkbox"
                       name="{{ plugin.id }}"
                       {% if plugin.active %}checked{% endif %}>
                <span class="material-switch"></span>
                {{ plugin.name }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="js/page.js"></script>
    <!--<h1>Hello!</h1>
    <div class="settings">
    </div>-->
  </body>
</html>