<!doctype html>
<html>
  <head>
    <title>SVGO-GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/all.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <script src="js/page.js" async></script>
  </head>
  <body>
    <div class="app">
      <div class="toolbar">
        <div class="toolbar-item">Toolbar text</div>
        <div class="status"></div>
      </div>
      <div class="main">
        <div class="output"></div>
        <div class="settings">
          <div class="misc">
            <div>
              <label class="main-setting-item">
                <input type="checkbox" name="original">
                <span class="material-switch"></span>
                Show original
              </label>
            </div>
            <div>
              <label class="main-setting-item">
                <input type="checkbox" name="gzip" checked>
                <span class="material-switch"></span>
                Compare gzipped
              </label>
            </div>
            <div>
              <label class="main-setting-item">
                <input type="checkbox" name="multipass">
                <span class="material-switch"></span>
                Multipass
              </label>
            </div>
          </div>
          <div class="plugins">
            {% for plugin in plugins %}
              <div>
                <label class="main-setting-item">
                  <input type="checkbox"
                         name="{{ plugin.id }}"
                         {% if plugin.active %}checked{% endif %}>
                  <span class="material-switch"></span>
                  {{ plugin.name }}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>